@font-face {
    font-family: "Lexend-VariableFont";
    src:
        local("Lexend-VariableFont"),
        url("/assets/fonts/Lexend-VariableFont_wght.ttf");
}

.hoverable:hover {
    background-color: var(--mantine-color-dark-5) !important;
}

.progressbar-outer {
    position: absolute;
    overflow: hidden;
    opacity: 0.7;
    background-color: var(--mantine-color-dark-9);
    transition: 0.1s;
    clip-path: inset(0px 1px 0px 1px);
}

.progressbar-outer,
.progressbar-inner,
.progressbar-buffer {
    height: 100%;
}

.progressbar-outer:hover {
    height: 150%;
}

.progressbar-inner,
.progressbar-buffer {
    position: absolute;
}

.progressbar-inner {
    background-color: var(--mantine-primary-color-filled);
}

.progressbar-buffer {
    background-color: var(--mantine-primary-color-light);
    opacity: 0.7;
}

.progressbar-thumb {
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: var(--mantine-color-violet-filled);
}

/* -- rounded corners -- */

.progressbar-inner[data-playing="true"] {
    border-top-right-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
}

.progressbar-outer:only-of-type {
    clip-path: inset(0px 0px 0px 0px);
}

.progressbar-outer:first-of-type {
    clip-path: inset(0px 1px 0px 0px);
    border-top-left-radius: var(--mantine-radius-md);
    border-bottom-left-radius: var(--mantine-radius-md);
}

.progressbar-outer:last-of-type {
    clip-path: inset(0px 0px 0px 1px);
    border-top-right-radius: var(--mantine-radius-md);
    border-bottom-right-radius: var(--mantine-radius-md);
}
